
#设置连接超时时间为21天
wait_timeout = 1814400
#关闭binlog
skip-log-bin
max_allowed_packet = 20M
#no case sensitive
lower_case_table_names=1
#no passwd
#skip-grant-tables
#最大连接数
max_connections=5000
[mysql]
# 设置mysql客户端默认字符集
default-character-set=utf8mb4

[mysqldump]
#防止mysqldump导出出现警告
host=localhost
user=root
password='root'

[client]
# 设置mysql客户端连接服务端时默认使用的端口和默认字符集
port=3306
default-character-set=utf8mb4
