# Copyright (c) 2017, Oracle and/or its affiliates. All rights reserved.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; version 2 of the License.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301 USA

#
# The MySQL  Server configuration file.
#
# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html

# Custom config should go here

[mysqld]
#设置连接超时时间为21天
wait_timeout=1814400

#关闭binlog
skip-log-bin

#最大允许传输包的大小
max_allowed_packet=20M

#no case sensitive 这个仅mysql初始化时有效
lower_case_table_names=1

#no passwd
#skip-grant-tables

#最大连接数
max_connections=5000

[mysql]
host=localhost
user=root
password=root
#设置mysql客户端默认字符集
default-character-set=utf8mb4

[mysqldump]
#防止mysqldump导出出现警告
host=localhost
user=root
#password='fB7)bA0&cA6!iI2'
password=root

[client]
port=3306
default-character-set=utf8mb4
