# Copyright (c) 2017, Oracle and/or its affiliates. All rights reserved.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; version 2 of the License.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301 USA

#
# The MySQL  Server configuration file.
#
# For explanations see

# https://dev.mysql.com/doc/refman/8.1/en/server-option-variable-reference.html

# Custom config should go here

[mysqld]

wait_timeout=1814400

skip-log-bin

max_allowed_packet=64M

lower_case_table_names=1

max_connections=10000

collation_server=utf8mb4_0900_ai_ci

character_set_server=utf8mb4

[mysql]
default-character-set=utf8mb4

[mysqldump]
default-character-set=utf8mb4
password=your password

[client]
port=3306
default-character-set=utf8mb4


